.product-card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1.5fr);
    gap: 20px;
    margin: 0 60px;
    max-width: 1200px;
}

.product-card {
    list-style: none;
    border: 0 solid;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    tab-size: 4;
    list-style: none;
    border: 0 solid;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: var(--text-lg);
    font-weight: 700;
    line-height: 1.4444444444;
    letter-spacing: 0.045em;
    container-type: inline-size;
}

.image-container {
    width: 100%;
    overflow: hidden;
}

.product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.image-container:hover .product-image {
    transform: scale(1.05);
}

.product-card-title {
    list-style: none;
    color: inherit;
    letter-spacing: 0.045em;
    border: 0 solid;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    display: -webkit-box;
    height: min-content;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 52px;
    margin-top: 14px;
}

.product-card-info {
    list-style: none;
    color: inherit;
    font-size: var(--text-lg);
    font-weight: 700;
    line-height: 1.4444444444;
    letter-spacing: 0.045em;
    border: 0 solid;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.add-termItem {
    font-weight: 800;
    letter-spacing: 0.045em;
    width: 110px;
    height: 54px;
    font-size: 11px;
    background: url("https://auth.dozo-gift.com/front/v1_1/images/common/category-bg.svg") no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.product-card-price {
    list-style: none;
    color: inherit;
    font-size: var(--text-lg);
    font-weight: 700;
    line-height: 1.4444444444;
    letter-spacing: 0.045em;
    border: 0 solid;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    margin-left: auto;
    text-align: right;
}

.product-card-description {
    list-style: none;
    color: inherit;
    border: 0 solid;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    display: -webkit-box;
    height: min-content;
    margin-top: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5384615385;
    text-overflow: ellipsis;
    letter-spacing: 0.041em;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product-card-button {
    list-style: none;
    color: inherit;
    font-size: var(--text-lg);
    font-weight: 700;
    line-height: 1.4444444444;
    letter-spacing: 0.045em;
    border: 0 solid;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    margin-top: auto;
    tab-size: 4;
    font-family: inherit;
    list-style: none;
    line-height: 1.4444444444;
    letter-spacing: 0.045em;
    border: 0 solid;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 39px;
    font-weight: 500;
    color: #fff;
    background-color: #000;
    border-radius: 20px;
    max-width: 162px;
    font-size: 13px;
}

.product-card-button:hover {
    background-color: #333;
}

.add-likeButton {
    width: 38px;
    height: 38px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 100%;
    margin-left: 3px;
}

.add-goodsList__info {
        tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    --color-text: #3a3a3a;
    --color-text-rgb: 58, 58, 58;
    --color-body-text: #333232;
    --color-sale-text: #EA0606;
    --color-small-button-text-border: #3a3a3a;
    --color-text-field: #ffffff;
    --color-text-field-text: #000000;
    --color-text-field-text-rgb: 0, 0, 0;
    --color-btn-primary: #3a3a3a;
    --color-btn-primary-darker: #212121;
    --color-btn-primary-text: #ffffff;
    --color-blankstate: rgba(51, 50, 50, 0.35);
    --color-blankstate-border: rgba(51, 50, 50, 0.2);
    --color-blankstate-background: rgba(51, 50, 50, 0.1);
    --color-text-focus: #606060;
    --color-overlay-text-focus: #e6e6e6;
    --color-btn-primary-focus: #606060;
    --color-btn-social-focus: #d2d2d2;
    --color-small-button-text-border-focus: #606060;
    --predictive-search-focus: #f2f2f2;
    --color-body: #ffffff;
    --color-bg: #ffffff;
    --color-bg-rgb: 255, 255, 255;
    --color-bg-alt: rgba(51, 50, 50, 0.05);
    --color-bg-currency-selector: rgba(51, 50, 50, 0.2);
    --color-overlay-title-text: #ffffff;
    --color-image-overlay: #685858;
    --color-image-overlay-rgb: 104, 88, 88;
    --opacity-image-overlay: 0.4;
    --hover-overlay-opacity: 0.8;
    --color-border: #ebebeb;
    --color-border-form: #cccccc;
    --color-border-form-darker: #b3b3b3;
    --svg-select-icon: url(//dozo-gift.com/cdn/shop/t/2/assets/ico-select.svg?v=29003672709104678581649018828);
    --slick-img-url: url(//dozo-gift.com/cdn/shop/t/2/assets/ajax-loader.gif?v=41356863302472015721649018763);
    --font-weight-body--bold: 700;
    --font-weight-body--bolder: 700;
    --font-stack-header: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
    --font-style-header: normal;
    --font-weight-header: 700;
    --font-stack-body: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
    --font-style-body: normal;
    --font-weight-body: 400;
    --font-size-header: 26;
    --font-size-base: 15;
    --font-h1-desktop: 35;
    --font-h1-mobile: 32;
    --font-h2-desktop: 20;
    --font-h2-mobile: 18;
    --font-h3-mobile: 20;
    --font-h4-desktop: 17;
    --font-h4-mobile: 15;
    --font-h5-desktop: 15;
    --font-h5-mobile: 13;
    --font-h6-desktop: 14;
    --font-h6-mobile: 12;
    --font-mega-title-large-desktop: 65;
    --font-rich-text-large: 17;
    --font-rich-text-small: 13;
    --color-video-bg: #f2f2f2;
    --global-color-image-loader-primary: rgba(58, 58, 58, 0.06);
    --global-color-image-loader-secondary: rgba(58, 58, 58, 0.12);
    --inner-width: 1234px;
    --inner-padding: 30px;
    --transition-duration: .3s;
    --breakpoint-sp: 767px;
    --text-xs: 12px;
    --text-sm: 14px;
    --text-base: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
    --text-2xl: 24px;
    --font-futura: futura-pt, sans-serif;
    --font-en: var(--font-futura);
    --font-en-headding: "Futura PT", sans-serif;
    --color-main: #53C197;
    --color-base-glay: #EBE7E7;
    --color-base-green: #5FD8AA;
    --color-base-blue: #9CD5EA;
    --color-base-skyblue: #8FCFE6;
    --color-base-orange: #F0A15E;
    --color-accent-red: #ED3288;
    --color-accent-yellow: #F3E84D;
    --header-height: 158px;
    --top-offset: 68px;
    --scrollbar-width: 15px;
    font-family: inherit;
    line-height: inherit;
    -webkit-font-smoothing: inherit;
    -webkit-text-size-adjust: inherit;
    border: 0 solid;
    --tw-border-opacity: 1;
    border-color: rgba(242,242,239,var(--tw-border-opacity));
    --tw-shadow: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty,   );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}